.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #282c34;
  flex-direction: column;
  gap: 5%;
  align-items: center;
}

.title {
  margin-top: 2rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: whitesmoke;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0;
}
